/* default to border-box */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* --------------------------------------------------------------------------------- */
/* images and videos max out at full width */

img, video {
  max-width: 100%;   height: auto;
}

/* --------------------------------------------------------------------------------- */

.hidden {
  display: none;
}

/* --------------------------------------------------------------------------------- */

/* title */
h1 {
  background: transparent;
  color: white;   font-family: 'Share Tech Mono', monospace;   text-align: center;   font-size: 60px;   text-shadow: 0 10px 10px #ffffff;
}

/* subtitle */
h2 {
  background: transparent;
  color: white;   font-family: 'Share Tech Mono', monospace;   text-align: center;   font-size: 18px;   text-shadow: 0 5px 10px #ffffff;
}

/* mistake area */
h3 {
  background: transparent;
  color: white;   font-family: 'Cutive Mono', monospace;   text-align: center;   font-size: 15px;   text-shadow: 0 5px 20px #ffffff;
}

/* instructions */
p {
  color: white;   font-family: 'Cutive Mono', monospace;   text-align: center;   font-size: 15px;   text-shadow: 0 5px 20px #ffffff;
  backdrop-filter: blur(1px);
}


body {
  margin: 10px;
  font-family: sans-serif;   line-height: 1.2;
  background-image: url(https://cdn.glitch.me/80400ab3-c1a8-4d54-9243-c5d1c10550d8/starry_night.gif);   background-repeat: no-repeat;   background-size: cover;
}

/* --------------------------------------------------------------------------------- */

button {
  padding: 10px 20px;
  font-family: Georgia, serif;
}

.start-stop-btn-container {
  margin: 20px;
  text-align: center;
}

/* --------------------------------------------------------------------------------- */

#startBtn {
  background: black;
  color: white;   font-family: 'Cutive Mono', monospace;
  border-width: 4px;   border-color: #1a1a1a;   border-radius: 5px;
}

#startBtn:hover {
  background: #333333;
  color: white;
  box-shadow: 0 5px 15px #ffffff;
  transition: all 0.2s ease-in-out;
} 

#startBtn:active {
  background: #4d4d4d;
  color: grey;
  box-shadow: 0 5px 15px #66ff33;
  transform: translateY(5px);
}

/* --------------------------------------------------------------------------------- */

#stopBtn {
  background: black;
  color: white;   font-family: 'Cutive Mono', monospace;
  border-width: 4px;   border-color: #1a1a1a;   border-radius: 5px;
}

#stopBtn:hover {
  background: #333333;
  color: white;
  box-shadow: 0 5px 15px #ffffff;
  transition: all 0.2s ease-in-out;
}

#stopBtn:active {
  background: #4d4d4d;
  color: grey;
  box-shadow: 0 5px 15px #990000;
  transform: translateY(5px);
}

/* --------------------------------------------------------------------------------- */

#gameButtonArea > button {
  width: 150px;   height: 150px;   margin: 8px;
  border-radius: 100px;
}

.game-btn-container {
  text-align: center;
}

/* --------------------------------------------------------------------------------- */
/* game buttons */

#button1, #button2, #button3, #button4, #button5, #button6 
{
  background: transparent;
  border: none;
}

#button1:hover, #button1:active, #button1.lit,    #button2:hover, #button2:active, #button2.lit,
#button3:hover, #button3:active, #button3.lit,    #button4:hover, #button4:active, #button4.lit,
#button5:hover, #button5:active, #button5.lit,    #button6:hover, #button6:active, #button6.lit 
{
  box-shadow: 0 10px 30px #ffffff;
  transform: translateY(5px);
}

#button1.disabled,    #button2.disabled,    #button3.disabled,    #button4.disabled,    #button5.disabled,    #button6.disabled 
{
  pointer-events: none;
}
